
*.o
*.so
*.d
*.srec
*.hex
*.bin
*.lst
*.elf
*.map
CMakeCache.txt
CMakeFiles
CMakeScripts
*.pro.user
CMakeLists.txt.user*
*.pro.user.*
**/build
**/build-*
**/.kdev4
*.kdev4
*_generated.h
bytif/gen-*

#eclipse
**/.cproject
**/.settings
**/.project
.metadata
RemoteSystemsTempFiles
core

pru/gen/*
avr/fw/SvcProtocol_generated.h
