[Unit]
Description=Riadenie bytu
After=network.target
[Service]
Type=simple
WorkingDirectory=/opt/rb
ExecStartPre=/opt/rb/init.sh
LimitCORE=infinity
ExecStart=/opt/rb/bytd

[Install]
WantedBy=multi-user.target

