[Unit]
Description=Riadenie bytu
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/rb
EnvironmentFile=/opt/rb/environment.txt
ExecStartPre=/opt/rb/init.sh
ExecStart=/opt/rb/bytd
#LimitCORE=infinity

[Install]
WantedBy=graphical.target
